@import '_base.scss';
@import '_plugin.scss';
@import '_components.scss';

.app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

#wrapper {
  background:
    radial-gradient(
      ellipse at top left,
      rgba(255, 255, 255, 1) 40%,
      rgba(229, 229, 229, .9) 100%
    );
  height: 100vh;
  padding: 60px 80px;
  width: 100vw;

  #logo {
    height: auto;
    margin-bottom: 20px;
    width: 420px;
  }

  main {
    display: flex;
    justify-content: space-between;
    & > div { 
      flex-basis: 50%;
    }

    .left-side {
      display: flex;
      flex-direction: column;

      .title {
        color: #2c3e50;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 6px;
      }
    }
  }

}


.welcome {
  color: #555;
  font-size: 23px;
  margin-bottom: 10px;
}

.title.alt {
  font-size: 18px;
  margin-bottom: 10px;
}

.doc {
  p {
    color: black;
    margin-bottom: 10px;
  }
  button {
    font-size: .8em;
    cursor: pointer;
    outline: none;
    padding: 0.75em 2em;
    border-radius: 2em;
    display: inline-block;
    color: #fff;
    background-color: #4fc08d;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #4fc08d;
  
    .alt {
      color: #42b983;
      background-color: transparent;
    }
  }
}
